@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    min-height: 100vh;
    font-family: 'Kumbh Sans', sans-serif;;
    font-size: 18px;
    align-items: center;
    text-align: center;
    background-color: hsl(185, 75%, 39%);
    background-image: url(/images/bg-pattern-top.svg),
                      url(/images/bg-pattern-bottom.svg);
    background-repeat: no-repeat, no-repeat;
    background-position: right 50vw bottom 50vh, left 50vw top 50vh;
}

.container {
    min-width: 650px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
}
.wrap {
    background-color: #fff;
    border-radius: .5rem;
    overflow: hidden;
    
}

.data {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding:rem;
}
.profile {
    padding-bottom:1rem; 
}
.data img {
    margin-top: -3.5rem;
    border-radius: 50%;
    border: 4px solid #fff;
}

.data h1 {
    margin-top: 1rem;
    font-weight: 700;
    color: hsl(229, 23%, 23%);
    font-size: 1.5rem;
}

.data h1 span {
    color: hsl(227, 10%, 46%);
    font-weight: 400;
    font-size: 1.3rem;
}

.data h2 {
    color: hsl(227, 10%, 46%);
    font-weight: 400;
    font-size: 1rem;
    padding-top: .7rem;
}

.stats {
    display: flex;
    justify-content: space-between;
    border-top: 1px solid hsla(227, 10%, 46%, 0.2);
    padding: 1.8rem 3rem;
    margin-top: 1rem;
}
.stats p {
    font-weight: 400;
    text-align: center;
    font-size: .8rem;
    color: hsl(0, 0%, 59%);
    letter-spacing: .2rem;
}
.stats h5.values {
    font-size: 1.3rem;
    color: hsl(229, 23%, 23%);
    font-weight: 700;
    margin-bottom: .3rem;
}

@media only screen and (max-width: 650px) {
    body {
        background-position: right 0vw bottom 50vh, left 65vw top 50vh;
    }
}